<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>Home</h1>
		<ul>
			<% for (let room of rooms) { %>
			<li> <a href = "/room/<%=room.roomID%>"><%= room.roomName %></a> </li>
			<% } %>
			<form action = "/room/create" id = "createForm" method = "post">
				create room: <input type="text" id = "test" name = "roomName" value = ""><br><br>
				<button>Submit</button>
			 </form>
		</ul>
	</body>
</html>

<script type="text/javascript">
    setTimeout(function () { 
      location.reload(); 
    }, 10 * 1000);
</script>